body{
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  color: navy;
}
h1{
    font-size: 5em;
    border-style: solid;
    box-shadow: 5px 10px #888888;
    text-align: center;
}

#container{
  padding: 100px 100;
  width: 500px;
  margin: 0 auto;
}

.link{
  list-style: none;
  color:hotpink;
  font-size: 2em;
}

.link a{
  color: olive;
}

a {  
  color: chocolate;
  transition: color 500ms;
}

a:hover{
  color: white;
}

p {
    font-size: 2em;
}
