body{
  font-family: 'Fredericka the Great', cursive;
font-family: 'IM Fell English', serif;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  color: white;
}
h1{
    font-size: 5em;
    text-align: center;
     -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#container{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0,0.1);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}


.link{
  list-style: none;
  color:hotpink;
  font-size: 2em;
}

.link a{
  color: olive;
}

a {  
  color: chocolate;
  transition: color 500ms;
}

a:hover{
  color: white;
}

p {
    font-size: 2em;
}
#myVideo {
    
    position: fixed;
    /*right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;*/
    width: 100%;
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}
#video1 {
  height: 400px;
  width: 640px;
  object-fit: fill;
}

